@inherits LayoutComponentBase

<div class="page">
    <header class="top-nav">
        <NavMenu />
    </header>

    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="app-footer">
        <div class="footer-content">
            <div class="footer-left">
                <span class="footer-title">MealSync</span>
            </div>

            <div class="footer-center">
                <span class="footer-quote">"Plan well. Eat well. Live well."</span>
            </div>

            <div class="footer-right">
                <span class="footer-copy">©️ @DateTime.Now.Year MealSync</span>
            </div>
        </div>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
