@using MealSync.Core.Entities
@using MealSync.Core.Interfaces
@using Microsoft.EntityFrameworkCore.Query
@inject IGroceryListService GroceryListService


@if (item != null)
{
    <EditForm Model="@item" class="edit-item">
        <InputText class="form-control" placeholder="Ingredient Name" @bind-Value="item.Ingredient!.Name" />
        <InputNumber class="form-control" placeholder="Qty" @bind-Value="item.Quantity" />
        <InputText class="form-control" placeholder="Unit" @bind-Value="item.Unit" />
        <button class="edit-btn btn btn-primary" type="submit" @onclick="() => HandleSubmit(item)">Edit
            Item</button>
        </EditForm>

    }

@code {
    [Parameter]
    public GroceryListItem? item { get; set; }

    [Parameter]
    public EventCallback<GroceryListItem> OnSubmitCallback { get; set; }

    public async Task HandleSubmit(GroceryListItem item)
    {
        await OnSubmitCallback.InvokeAsync(item);
    }
    
}