@page "/recipes"
@using MealSync.Core.Entities
@using MealSync.Core.Interfaces
@inject IRecipeService RecipeService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@attribute [Authorize]

<PageTitle>Recipes</PageTitle>

<h1>My Recipes</h1>

<p>
    <a class="btn btn-primary" href="/recipes/create">Create New Recipe</a>
</p>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else if (recipes.Count == 0)
{
    <p>No recipes found. Create one!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Prep Time (min)</th>
                <th>Cook Time (min)</th>
                <th>Servings</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in recipes)
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td>@recipe.PrepTime</td>
                    <td>@recipe.CookTime</td>
                    <td>@recipe.Servings</td>
                    <td>
                        <a href="/recipes/edit/@recipe.RecipeId">Edit</a> |
                        <a href="/recipes/delete/@recipe.RecipeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Recipe>? recipes;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        recipes = await RecipeService.GetAllRecipesAsync(userId);
    }
}
