@page "/recipes"
@using MealSync.Core.Entities
@using MealSync.Core.Interfaces
@using MealSync.Web.Components.Shared
@inject IRecipeService RecipeService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@attribute [Authorize]

<PageTitle>Recipes</PageTitle>

<h1>My Recipes</h1>

<p>
    <a class="btn btn-primary" href="/recipes/create">Create New Recipe</a>
</p>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else if (recipes.Count == 0)
{
    <p>No recipes found. Create one!</p>
}
else
{
    <div>
        @foreach (var recipe in recipes) {
            <RecipeCard CssView="@CssView" IsFullView="@(FullRecipeId == recipe.RecipeId)" Recipe="recipe" OnViewDetails="HandleViewDetails" />
        }
    </div>

}

@code {
    private List<Recipe>? recipes;
    private string CssView = "list-card";
    private int? FullRecipeId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        recipes = await RecipeService.GetAllRecipesAsync(userId);
    }

    private void HandleViewDetails(Recipe recipe) {
        if(FullRecipeId == recipe.RecipeId) {
            FullRecipeId = null;
        } else {
            FullRecipeId = recipe.RecipeId;
        }
    }


}
