@page "/recipes"
@using MealSync.Core.Entities
@using MealSync.Core.Interfaces
@using MealSync.Web.Components.Shared
@inject IRecipeService RecipeService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@attribute [Authorize]

<PageTitle>Recipes</PageTitle>

<h1>My Recipes</h1>

<p>
    <a class="btn" href="/recipes/create">Create New Recipe</a>
    <a class="btn btn-outline-secondary ms-2" href="/public-recipes">Browse Public Recipes</a>
    <button title="Toggle View" class="btn btn-secondary" @onclick="TogglePageView">
        @ToggleIcon
</button>
</p>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else if (recipes.Count == 0)
{
    <p>No recipes found. Create one!</p>
}
else
{
    <div class="row">
        @foreach (var recipe in recipes) {
            <div class="@(CssView == "grid-card" ? "col-md-4 mb-3" : "col-12 mb-3")">
                <RecipeCard CssView="@CssView" IsFullView="@(FullRecipeId == recipe.RecipeId)" Recipe="recipe" OnViewDetails="HandleViewDetails" />
            </div>
        }
    </div>

}

@code {
    private List<Recipe>? recipes;
    private string CssView = "list-card";

    private string ToggleIcon = "Show Grid ☷";
    private int? FullRecipeId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        recipes = await RecipeService.GetAllRecipesAsync(userId);
    }

    private void HandleViewDetails(Recipe recipe) {
        if(FullRecipeId == recipe.RecipeId) {
            FullRecipeId = null;
        } else {
            FullRecipeId = recipe.RecipeId;
        }
    }

    private void TogglePageView() {
        if(CssView == "list-card") {
            CssView = "grid-card";
            ToggleIcon = "Show List ☰";
        }else {
            CssView = "list-card";
            ToggleIcon = "Show Grid ☷";
        }
    }


}
