@using Microsoft.AspNetCore.Identity
@using MealSync.Core.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="d-inline">
        <button type="submit" class="logout-button">Logout</button>
    </form>
}
else
{
    <a href="~/Identity/Account/Login">Login</a>
    <a href="~/Identity/Account/Register">Register</a>
}
</ul>
